*__pycache__*
*.m
*.s
*.smt
*.btor2
selfie
selfie-32
selfie.h
selfie.exe
babysat
monster
beator
beator-32


*.vscode
*.idea
*cmake-build-debug
*build
CG/PC1/exercise05/output/images
CG/W12/train
CG/W12/test